.search-result,
.search {
    width: 361px;
}

.search {
    height: var(--search-height);
    background-color: #1618230f;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        height: calc(var(--search-height) - 18px);
        width: 1px;
        background-color: #d7d7d9;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        color: var(--black);
        caret-color: var(--primary);
        border: none;
        outline: none;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .clear-search-btn,
    .loading-search {
        font-size: 1.6rem;
        position: absolute;
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        margin: 0 12px;
    }
    .loading-search {
        animation: spinner 1s linear infinite;
    }
    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
    .search-btn {
        cursor: pointer;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.34);
        width: 52px;
        height: 100%;
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
